$colors: (
	base:	#FFFFFF,
	sand:	#D8D5CB,
	blue:	#D8DCDB,
	gray:	#6C6E6E,
	gray-medium: #2b2b2b,
	gray-dark:  #161616,
	dark:	#231F20,
	aqua:	#2ED8C4,
	deep:	#34BFAB,
	black:	#000000,
	white:	#FFFFFF,
	yellow:	#FCC029,
	golden:	#E5AD30,
);

@function c($color:base) {
	@return map-get($colors, $color);
}

$colorForeground: c(black);
$colorBackground: c(black);
$colorFeatured: c();
$colorError: #8A1010;
