////
///-_________________________ Config _________________________ \\
////
////Config
////The various configuration files for the framework
////@since 1.0.0
////@author Diego Villaseñor
////

//IMPORTANT: _base must appear after _widths
@import "_widths";
@import "_base";
@import "_fonts";
@import "_colors";
@import "_html-body";
@import "_breaks";
@import "_pads-n-margs";
@import "_inputs";
@import "_grid";


$z: (
	base: 0,
	menuMain: 99,
	instagram: 1000,
);


@function z($z-index: base) {
	@if map-has-key($z, $z-index) {
		@return map-get($z, $z-index);
	}
}

// Map to hold whatever maps of the theme and framework that might need to be accessed somehow, or printed into the console (for easy consultation) via the maps() mixin. It takes a key:value pair, where key is the name of the map and the value is the corresponding map.
/// @example $maps:(breaks:$breaks, colors:$colors);
/// @see {mixin} maps()
/// @since 0.0.1;
$maps:(	
	breaks: $breaks,
	colors: $colors,
	fonts: $fonts,
	spacings: $spacings
);
