%button {
	font-family: f(sans);
	letter-spacing: 3px;
	background-color: transparent;
	border-radius: 30px;
	border: 0;
	display:inline-block;
	cursor:pointer;
	color: c();
	font-family:Arial;
	font-size: 16px;
	padding: 16px 32px;
	text-decoration:none;
	text-transform: uppercase;
	user-select: none;
	position: relative;

	&:hover,
	&:focus {
	    color: #bbb;
	    text-decoration: none;
	    cursor: pointer;
	}
}